.event-form-main {
  display: flex;
  flex-direction: column;
  margin: 40px 0 64px 0;
  max-width: 100%;
}

.event-form-container {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  display: flex;
  margin: 0 400px;
  max-width: 484px;
  padding: 32px 32px 60px 32px;
}

.event-form-container form {
  height: 100%;
  width: 100%;
}

.event-form-container h2 {
  display: flex;
  justify-content: center;
}

.event-form-group-container,
.event-form-name-container,
.event-form-date-container,
.event-form-time-container,
.event-form-capacity-container,
.event-form-image-container,
.event-form-details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.event-form-group-container label,
.event-form-name-container label,
.event-form-date-container label,
.event-form-time-container label,
.event-form-capacity-container label,
.event-form-image-container label,
.event-form-details-container label {
  font-weight: bold;
  margin-bottom: 4px;
}

.event-form-name-container,
.event-form-date-container,
.event-form-time-container,
.event-form-capacity-container,
.event-form-image-container,
.event-form-details-container {
  margin-top: 24px;
}

#event-form-group,
#event-form-name,
#event-form-date,
#event-form-time,
#event-form-capacity,
#event-form-image,
#event-form-details {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  font-size: 100%;
  padding: 8px 12px;
  width: auto;
}

.event-form-button {
  background-color: #f65858;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-top: 24px;
  padding: 8px 12px;
  width: 100%;
}
