.event-details-top {
  border-bottom: 1px solid rgb(230, 230, 230);
  height: 150px;
  padding: 24px 20px;
}

.event-details-headers {
  height: 150px;
  margin: 0 90px;
}

.event-details-headers span {
  color: rgb(117 117 117);
  font-size: 16px;
}

.event-details-headers h1 {
  font-size: 36px;
  height: 58px;
  margin-bottom: 0;
}

.event-details-host-container {
  display: flex;
  flex-direction: row;
  height: 48px;
  margin: 0;
}

.event-details-host-icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-size: 48px;
  justify-content: center;
  height: 48px;
  width: 48px;
}

.event-details-host-info {
  font-size: 16px;
  margin-left: 24px;
}

.event-details-host-name {
  font-weight: bold;
}

.event-details-bottom {
  background-color: rgb(246 247 248);
  border-top: 1px solid rgb(230, 230, 230);
  height: 1250px;
  padding: 0 20px 24px 20px;
}

.event-details-bottom-contents {
  display: flex;
  margin: 0 90px;
}

.event-details-image img {
  height: 370px;
  margin-top: 32px;
  object-fit: cover;
  width: 660px;
}

.event-details-details-container {
  height: 248px;
  margin-top: 20px;
  width: 660px;
}

.event-details-details-header {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

.event-details-details {
  margin-bottom: 16px;
  margin-top: 0;
}

.event-details-attendees-container {
  height: 248px;
  margin-top: 20px;
  width: 660px;
}

.event-details-attendees-header {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 0;
}

.event-details-right-container {
  margin-left: 112px;
  margin-top: 32px;
}

.event-details-right {
  position: sticky;
  top: 6rem;
}

.event-details-group {
  height: 56px;
  padding: 24px;
  width: 298px;
}

.event-details-buttons button {
  background-color: #f65858;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 45px;
  margin-top: 20px;
  padding: 10px 32px;
  width: 100%;
}
