.signup-main {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 40px 0 64px 0;
}

.signup-form-container {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  display: flex;
  padding: 32px 32px 60px 32px;
  max-width: 484px;
  margin: 0 auto;
}

.signup-headers {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.signup-form-errors {
  background-color: #fdb7ad;
  border: 1px solid #fa604a;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 15px;
}

.signup-form-contents {
  margin-top: 32px;
  margin-bottom: 16px;
}

.signup-name-container,
.signup-email-container,
.signup-password-container,
.signup-confirm-password-container,
.signup-age-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.signup-email-container,
.signup-password-container,
.signup-confirm-password-container,
.signup-age-container {
  margin-top: 24px;
}

.signup-name-container label,
.signup-email-container label,
.signup-password-container label,
.signup-confirm-password-container label,
.signup-age-container label {
  font-weight: bold;
  margin-bottom: 4px;
}

#signup-name,
#signup-email,
#signup-password,
#signup-confirm-password {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
  width: 320px;
  height: 22px;
  padding: 8px 12px;
  font-size: 100%;
}

.signup-age-input {
  display: flex;
  align-items: center;
}

.signup-age-input input {
  margin-right: 10px;
}

.signup-age-input span {
  font-size: 14px;
}

#signup-age {
  height: 16px;
  width: 16px;
}

.signup-form-button {
  height: 45px;
  padding: 8px 12px;
  width: 346px;
  background-color: #03A62C;
  border-radius: 8px;
  color: #fff;
  padding: 8px 12px;
  margin-top: 24px;
  border: 0;
  font-weight: bold;
  font-size: 20px;
}

.signup-already-member {
  width: 344px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.signup-already-member span {
  align-items: center;
  display: flex;
  margin-right: 10px;
}
