.nav-ul {
  background-color: rgb(33 33 33);
  border-bottom: 1px solid rgb(230 230 230);
  font-size: 16px;
  height: 64px;
  margin: 0;
  padding: 0 16px;
}

.nav-ul li {
  list-style: none;
}

.nav-container {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: space-between;
}

.nav-logo-browse {
  align-items: center;
  display: flex;
}

.nav-logo-browse a {
  color: #C7CFD9;
  margin-right: 20px;
  text-decoration: none;
}

.nav-login {
  background-color: #03A62C;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  height: 30px;
  width: 60px;
}

.nav-links {
  align-items: center;
  display: flex;
}

.nav-links a {
  color: #C7CFD9;
  margin-left: 20px;
  text-decoration: none;
}

.user-icon-button {
  background-color: #03A62C;
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  margin-left: 20px;
  width: 50px;
}

.user-icon {
  font-size: 25px;
}

.profile-dropdown {
  color: #C7CFD9;
  margin-left: 20px;
  padding: 0;
}

.profile-dropdown li {
  padding-top: 5px;
}

.profile-dropdown-logout {
  background-color: #03A62C;
  border: 0;
  border-radius: 6px;
  color: rgb(33 33 33);
  font-size: 16px;
}
